@using Microsoft.AspNetCore.Mvc.Localization
@using RazorPagesExample.Localization
@inject IHtmlLocalizer<SharedResources> Localizer

@model List<UserViewModel>

@{
    ViewData["Title"] = @Localizer["Users"];
}

<script src="~/js/user.js" asp-append-version="true"></script>

@*these input values will contain the sweet alert translate texts*@
<input type="hidden" id="deleteConfirmationTitle" data-localized-text="@Localizer["DeleteConfirmationTitle"]">
<input type="hidden" id="deleteConfirmationText" data-localized-text="@Localizer["DeleteItemConfirmationText"]">
<input type="hidden" id="deleteConfirmationSuccessMessage" data-localized-text="@Localizer["DeleteSuccessMessage"]">
<input type="hidden" id="deleteConfirmationErrorMessage" data-localized-text="@Localizer["DeleteErrorMessage"]">
<input type="hidden" id="confirmButtonText" data-localized-text="@Localizer["ConfirmButtonText"]">
<input type="hidden" id="cancelButtonText" data-localized-text="@Localizer["CancelButtonText"]">

<div class="container text-center">
    <div class="row">
        <div class="col-12 mx-auto">
            @if (Model.Any())
            {
                <table class="table table-striped" style="width:60%; margin: 0 auto;">
                    <thead>
                        <tr>
                            <th scope="col">@Localizer["Username"]</th>
                            <th scope="col">@Localizer["Email"]</th>
                            <th scope="col">@Localizer["age"]</th>
                            <th scope="col">@Localizer["Birthday"]</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>@user.Age</td>
                                <td>@user.DateOfBirth.ToString("d")</td>
                                <td><a href="#" class="btn btn-danger delete-user-btn" data-id="@user.Id">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>@Localizer["NoUsers"]</h3>
            }

        </div>
    </div>
</div>

